<div id="header-border">
    <h1 id="header-title" [routerLink]="['/']">Music App</h1>    
    <div id="header-links">
        <span class="header-link">Popular</span>
        <span class="header-link" [routerLink]="['/Listened']">listened</span>
        <span class="header-link" (click)="toggleInput()">Search</span>
        <div *ngIf="inputToggle"  id="header-input">
            <div id="input">
                <span id="hide-input" (click)="toggleInput()">X</span>
                <app-input (inputToggle)="hideInput($event)"></app-input>        
            </div>
        </div> 
    </div>
</div>