#border {
    background-color: rgba(0, 0, 0, 0.87);
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    bottom: 0;
    z-index: +2;
}

#input-border {
    display: flex;
    flex-direction: row;
}

#input {
    padding: 10px;
    width: 200px;
}

#button {
    background-color: #1F1B24;
    border: 1px solid  #12524f;
    color: #A0E7E5;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    font-size: 15px;
}

#button:hover {
    opacity: 0.75;
}

textarea:focus, input:focus{
    outline: none;
}