#listened-results {
    display: flex;
    justify-content: center;
    color: #A0E7E5;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#listened-border {
    display: flex;
    flex-direction: column;
}

#clear-songs {
    display: flex;
    justify-content: center;
    color: #A0E7E5;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

#clear-songs:hover {
    opacity: 0.75;
}