#recommended-results {
    display: flex;
    justify-content: center;
    color: #A0E7E5;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#recommended-border {
    display: flex;
    flex-direction: column;
}
